<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bis.lafefny">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lafefny">
        <activity android:name=".Emergency" />
        <activity android:name=".Question14_15" />
        <activity android:name=".Question12_13" />
        <activity android:name=".Question10_11" />
        <activity android:name=".Question8_9" />
        <activity android:name=".Question6_7" />
        <activity android:name=".Question4_5" />
        <activity android:name=".Question2_3" />
        <activity android:name=".Questionnaire1" />
        <activity android:name=".ProvideData" />
        <activity android:name=".preferences"/>
        <activity android:name=".FamilyPlan" />
        <activity android:name=".SiwaOasis_AdvPlan2" />
        <activity android:name=".SiwaOasis_AdvPlan" />
        <activity android:name=".SoundLightEvent" />
        <activity android:name=".CairoBookFair" />
        <activity android:name=".RunningEvent" />
        <activity android:name=".Events" />
        <activity android:name=".RomanticPlan" />
        <activity android:name=".AdventurousPlans" />
        <activity android:name=".Plans" />
        <activity android:name=".VoxCinema" />
        <activity android:name=".EgyptianMuseum" />
        <activity android:name=".TheSmokery" />
        <activity android:name=".FunTopia" />
        <activity android:name=".Sport_Events" />
        <activity android:name=".Cinema" />
        <activity android:name=".Restaurants" />
        <activity android:name=".Tourism_Area" />
        <activity android:name=".GamingArea" />
        <activity android:name=".Ticket" />
        <activity android:name=".Promocode" />
        <activity android:name=".Payment" />
        <activity android:name=".Booking" />
        <activity android:name=".Transportation" />
        <activity android:name=".DreamPark" />
        <activity android:name=".AmusementPark" />
        <activity android:name=".Ent_Categories" />
        <activity android:name=".Homepage" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Sign_Up" />
        <activity android:name=".Sign_In" >

        </activity>
        <activity android:name=".MainActivity2" >

        </activity>
        <activity android:name=".MainActivity" />

    </application>

</manifest>